
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <p>
      <label style="text-align: center;" for="username" >User Name<label>
      <input  type="username" name="username"  [formControl]="form.controls.username"  />
      <p>
    <p >
      <label  for="password">Password<label>
      <input  type="password" name="password" formControlName="password"  />
      <p>
        <button type="submit" [disabled]="form.invalid" class="button" >Login</button>
        
        <p *ngIf="userIsInvalid" class="control-error">Please enter a valid User Name.</p>
        <p *ngIf="passwordIsInvalid" class="control-error">Please enter a valid password.</p>
  <form>
  