<form #Form="ngForm" (ngSubmit)="onSubmit(Form)">
    <p>
      <label for="officeName">اسم المكتب</label>
      <input 
        id="officeName" 
        name="officeName" 
        type="text" 
        [(ngModel)]="service.newData.officeName" 
        #officeName="ngModel"
        required 
      />
      <span *ngIf="officeName.invalid && officeName.touched">Office Name is required.</span>
    </p>
    <div *ngFor="let phone of service.newData.phoneNumbers; let i = index">
      <label for="phoneNumber{{ i }}">رقم الهاتف {{ i + 1 }}</label>
      <input 
        id="phoneNumber{{ i }}" 
        name="phoneNumbers[{{ i }}]" 
        type="text" 
        [(ngModel)]="service.newData.phoneNumbers[i]" 
        #phoneNumber="ngModel"
        minlength="10" 
        maxlength="10"
        required
      />
      <button type="button" (click)="removePhoneNumber(i)">Remove</button>
      <span *ngIf="phoneNumber.invalid && phoneNumber.touched">
          Phone number must be 10 digits.
      </span>
  </div>
  <button type="button" (click)="addPhoneNumber()">اضافة رقم هاتف</button>
  
  
  <div *ngFor="let email of service.newData.emails; let i = index">
    <label for="email{{ i }}">البريد الالكتروني {{ i + 1 }}</label>
    <input 
      id="email{{ i }}" 
      name="emails[{{ i }}]" 
      type="email" 
      [(ngModel)]="service.newData.emails[i]" 
      #email="ngModel"
      required
    />
    <button type="button" (click)="removeEmail(i)">حذف</button>
   
</div>
<button type="button" (click)="addEmail()">اضافة بريد الكتروني</button>

    <p>
        <label for="taxNumber">الرقم الضريبي</label>
        <input 
          id="taxNumber" 
          name="taxNumber" 
          type="text" 
          [(ngModel)]="service.newData.taxNumber" 
          #taxNumber="ngModel"
          required 
        />
        <span *ngIf="taxNumber.invalid && taxNumber.touched">Tax Number is required.</span>
      </p>
      <p>
        <label for="certifiedAccountants">عدد المحاسبين</label>
        <input 
          id="certifiedAccountants" 
          name="certifiedAccountants" 
          type="number" 
          [(ngModel)]="service.newData.certifiedAccountants" 
          #certifiedAccountants="ngModel"
          required 
          min="0"
        />
        <span *ngIf="certifiedAccountants.invalid && certifiedAccountants.touched">
            Accountants number is required and must be a positive number.
        </span>
    </p>
    
    <p>
        <label for="employees">عدد الموظفين</label>
        <input 
          id="employees" 
          name="employees" 
          type="number" 
          [(ngModel)]="service.newData.employees" 
          #employees="ngModel"
          required 
          min="0"
        />
        <span *ngIf="employees.invalid && employees.touched">
            Employees number is required.
        </span>
      </p>
    
    <p>
        <label for="licensedAccountants">المحاسب القانوني</label>
        <input 
          id="licensedAccountants" 
          name="licensedAccountants" 
          type="text" 
          [(ngModel)]="service.newData.licensedAccountants" 
          #licensedAccountants="ngModel"
          required 
        />
        <span *ngIf="licensedAccountants.invalid && licensedAccountants.touched">icensed Accountant is required.</span>
      </p>

      <p>
        <label for="licenseNumbers">رقم الاجازة</label>
        <input 
          id="licenseNumbers" 
          name="licenseNumbers" 
          type="text" 
          [(ngModel)]="service.newData.licenseNumbers" 
          #licenseNumbers="ngModel"
          required 

        />
        <span *ngIf="licenseNumbers.invalid && licenseNumbers.touched">
            Leave Number is required.
        </span>
      </p>
      <p>
        <label for="expectedBudgets">رقم الميزانية المتوقع</label>
        <input 
          id="expectedBudgets" 
          name="expectedBudgets" 
          type="number" 
          [(ngModel)]="service.newData.expectedBudgets" 
          #expectedBudgets="ngModel"
          required 
        />
        <span *ngIf="expectedBudgets.invalid && expectedBudgets.touched">
            Leave Number is required.
        </span>
      </p>
    
  
    <button type="submit" [disabled]="Form.invalid">Save</button>
  </form>
  